Repository voxpupuli/puppet-rkhunter, pull requests merged in 2020-04, with the labels that each got.

#8 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#9 Add `language` and `update_lang` parameters
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/rkhunter.conf.epp
  types/language.pp
Labels: enhancement

#10 Release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
