Repository voxpupuli/puppet-rkhunter, pull requests merged in 2024-02, with the labels that each got.

#26 drop debian 9
  metadata.json
Labels: backwards-incompatible

#21 modulesync 5.1.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  .rubocop.yml
  .rubocop_todo.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/acceptance/rkhunter_spec.rb
  spec/classes/init_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#24 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#25 Add Puppet 8 support
  metadata.json
Labels: enhancement

#27 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#28 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync
